{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
{# Car can be created only by superusers. Normal users will see a notification that they do not have permissions to create cars. #}
    {% if request.user.is_superuser %} {# Check if user is a superuser #}
    <form class="w-50 m-auto" method="post" style="margin: 10% 0%; padding: 5% 5%" enctype="multipart/form-data">
      <h2 align="center">Create a car</h2>
            {% csrf_token %}
            {% bootstrap_form form %}
      <button type="submit" class="button btn btn-success">Create</button>
    </form>
    {% else %} {# If user is not a superuser then he do not have the permissions to create cars #}
        <p style="color: darkred;">"You do not have the permissions to create cars! Only superusers can do that...</p>
    {% endif %}
</div>

{% endblock %}