{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{# Only a user that has a car can race. Users with no car will receieve a notification message #}
{% block content %}
<div class="container">
{% if has_car %}
    <div class="col">
        <b>Your car: {{ user_car.car.type|capfirst }}</b><br>
        <b>Horse Power: {{ user_car.car.hp }}</b>
    </div>
    <form class="w-50 m-auto" method="post" style="margin: 10% 0%; padding: 5% 5%" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
      <button type="submit" class="button btn btn-success">Race</button>
    </form>
{% else %}
    <p align="center"style="color: darkred;">You do not have a car to race with! Go buy one if there is any available...</p>
{% endif %}
</div>

{% endblock %}